.notification {
    text-align: center;
    width: 97%;
    padding: 1rem;
    border-radius: 4px;
    position: fixed;
    top: 0;
    left: 1.5%;
    opacity: 0;
    transform: translateY(-20px);
    z-index: 1000;
}

.error {
    color: #e74c3c;
    background: #fdeded;
}

.success {
    color: #edf7ee;
    background: #34c174;
}

.notificationShow {
    animation: slideIn 0.3s ease-out forwards;
}

.notificationHide {
    animation: slideOut 0.3s ease-in forwards;
}


@keyframes slideIn {
    0% {
        transform: translateY(20px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideOut {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(-20px);
        opacity: 0;
    }
}